@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ede9e3;
  --foreground: #e7d7c9;
  --primary-color: #626d5c;
  --toggle: #241f19;
}

[data-theme="dark"] {
  --background: #241f19;
  --foreground: #e7d7c9;
  --primary-color: #626d5c;
  --toggle: #626d5c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 750ms ease-in-out, color 250ms ease-in-out;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
